<p>
  <label class="resource-label">{{localize "SWYVERS.Currency.Pound"}}</label>
  <input type="number" name="pound" data-dtype="Number" min="0" value="0" />
</p>
<p>
  <label class="resource-label">{{localize "SWYVERS.Currency.Shilling"}}</label>
  <input type="number" name="shilling" data-dtype="Number" min="0" value="0" />
</p>
<p>
  <label class="resource-label">{{localize "SWYVERS.Currency.Pence"}}</label>
  <input type="number" name="pence" data-dtype="Number" min="0" value="0" />
</p>