<div class="swyvers">
    <div class="grid-span-1">
      <label class="resource-label">{{localize "TYPES.Item.spellComponent"}}</label>
      <select id="spellComponent">
        {{selectOptions spellComponents blank="" localize=true nameAttr="id" labelAttr="label"}}</select>
    </div>
</div>