body,
button,
#tooltip,
.window-app {
  font-family: $font-primary !important;

  .window-content{
    background: white;
  }
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}